/* Root */
:root{
    --margin: 20px;
    --colorNofity: #8EDAFC;
    --colorMenu: lightgray;
}

/* Generics */
header, footer{
    background-color: var(--colorMenu);
}

body{
    background-image: linear-gradient(#009688 0 20%, #DBDBD3 20% 100%);
    height: calc(100vh - var(--margin));
}

main{
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
    overflow-y: auto;
}

img{
    border-radius: 50%;
}

main ul>*{
    display: flex;
    flex-direction: column;
} 

/* Containers */
.bzContainer{
    max-width: 1200px;
    height: calc(100% - var(--margin));
    margin: var(--margin) auto;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

.imgContainer{
    width: 50px;
    height: 50px;
}

.contactsContainer{
    flex-basis: 35%;
    border-right: 1px solid #009688;
}

.usernameContainer, .searchContacts{
    background-color: var(--colorMenu);
}
/* Contacts */
.contacts{
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
}

.contacts ul>*{
    cursor: pointer;
}

.notify{
    background-color: var(--colorNofity);
}

.bellCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.user{
    font-size: 1rem;
    font-weight: 700;
}

.contactLeft{
    flex-basis: 20%;
}

.contactMiddle{
    flex-basis: 60%;
}

.contactRight{
    flex-basis: 20%;
    font-size: 12px;
    color: gray;
}

/* Chats */
.chatsContainer{
    flex-basis: 65%;
}

.startingImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
    height: 100%;
}

.message{
    padding: 5px 10px;
    border-radius: 10px;
    max-width: calc((100% / 2) - 10px);
    margin-top: 5px;
    position: relative;
    padding-bottom: 15px;
    min-width: 100px;
}

.sent{
    align-self: flex-end;
    background-color: #D4F8B9;
}

.received{
    align-self: flex-start;
    background-color: white;
}

.msgDate{
    font-size: 10px;
    color: gray;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.fa-solid.btn-delete{
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
}

/* Font Awesome */
.fa-solid, .fa-regular{
    font-size: 25px;
    color: gray;
}

.fa-solid.fa-bell-slash{
    font-size: 1.5rem;
    color: var(--colorNofity);
}

.btn.btn-send, .bnt.btn-send:hover{
    padding: 5px 10px;
    border: 1px solid gray;
}

.btn.dropdown-toggle{
    border: 0;
}

.btn.dropdown-toggle::after{
    display: none;
}